
body{
    margin:0;
    padding: 1rem;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0.5rem;
    padding: 1rem;
}
header h1{
    color:red;
}
header nav a{
    color:grey;
    text-decoration: none;
    gap:0.5rem
}
.header-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-section input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-image: url('https://cdn-icons-png.flaticon.com/512/622/622669.png'); 
    background-size: 12px; 
    background-repeat: no-repeat;
    background-position: 170px center; 
  }
  
  .avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .this-section{
    border: 1px solid black;
    font-size: 0.7rem;
  }
  

  h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.user-rating{
    color:red;
    margin: 0.2rem;
}
.ımdb-point{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin:0.2rem
    
    
}
.film-age{
    border: 1px solid;
    border-radius:0.4rem;
    padding: 0.2;
    margin: 0.2rem;
}
.film-duration{
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    margin:0.2rem
}
.film-details span{
    color: red;
}

 button{
    background-color:red;
    color:white;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem; 


}
.suggestions{
    border: 1px solid black;
    font-size:0.7rem;

h3{
    font-size: 12px;
    font-weight: bold;
    gap:20px;
    
}
.popular-movies{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 8px;
  
}
.Suggestion-films-information{
    text-align: center;
    border: 1px solid black;

}
.popular-movies h4{
    font-weight: bold;
}
.film-duration{
    font-weight: bold;
}
h5{
    font-size:12px;
    font-weight: bold;
    gap:20px;

}
footer{
  padding: 1px;
  margin: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.footer-a nav a{
    flex-direction: left;
    font-size: 10px;
    text-decoration: none;
    color: gray;
    align-items: center;

}
.footer-a p{
    font-size: 10px;
}
.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.social-media h6{
    font-size: 0.5rem; 

}
.mobile-apps {
    display: flex; 
    align-items: center;
    gap: 10px; 
    font-size: 0.8rem; 
}
.mobile-apps i {
    font-size: 1rem; 
    color: gray; 
}